html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
}
body {
    height: 100%;
    font-family: "Courier New";
    font-size: 20px
    
}

header {
    background-color: green;
    flex: 0 0 0px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Courier New";
}

h5 {
    text-align: center;
    margin: auto;
    font-family: "Courier New";
    padding-top: 10px;
}

section {
    text-align: center;
    margin: auto;
    font-family: "Courier New";
    padding-top: 10px;
}
